/* IMPORTAR PARA APLICAR FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Indie+Flower&display=swap');

/* QUITAR EL MARGIN Y PADDING PREDEFINIDOS */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Aldrich', sans-serif;
}

/* BODY - COLOR DE FONDO A LA PAGINA */
body{
    background-color: rgb(192, 237, 226);
}

/* CABECERA */
header{
    display: flex;
    flex-direction: column;  
}

/* IMAGEN DEL BANNER */
.imgBanner{
    height: 80%;
    width: 100%;
}

/* CONTENEDOR DE HAMBURGUESA */
.menuHamburguesa{    
    top: -62px;
    left: 65px;
    position: relative;
    text-decoration: none;
    
}
.active{
    transform: translate(-600px);
}
.opacity{
    background-color: rgb(6, 32, 70);
    transition: all .5s ease;
}
.fa-bars{
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    color: rgb(6, 32, 70);
    position: relative;
}

/* CONTENEDOR DEL BUSCADOR */
.buscador{
    display: flex;
    justify-content: flex-end;
}

/* INPUT DE BUSCAR POKEMON */
input{  
    width: 20%;

    border-radius: 50px;
    border-width: 3px;
    border-color: rgb(61, 92, 138);
    
    text-align: center;
    font-size: 120%;

    position: relative;
    top: -70px;
    right: 30px;
}

/* TODOS LOS PLACEHOLDER */
::placeholder{
    font-weight: 120%;
} 


/* ICONO DE LUPA */
.fa-search{
    font-size: 100%;
    color: rgb(61, 92, 138);
    position: relative;
    top: -62px;
    right: 65px;
}

/* MAIN HOME */
.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

/* CONTENEDOR DE CARDS DE POKEMONS */
.container-pokemons{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

/* TARJETA POKEMON */
.card{
    background-color: rgb(255, 255, 255);
    border-color: rgb(43, 43, 44);
    border-style: solid;
    border-width: 3px;

    width: 200px;
    min-height: 200px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.61);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
}

/* POSICIONARSE EN LA TARJETA POKEMON */
.card:hover{
    transform:translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

/* NUMERO DRE POKEMON */
.numPokemon{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

/* IMAGEN DEL POKEMON */
.imgPokemon{
    width: 60%;
    height: 40%;
    padding: 20px;
}

/* CAMBIAR EL CURSOR AL POSICIONARSE EN LA IMAGEN DEL POKEMON */
.imgPokemon:hover{
    cursor: pointer;
}

/* NOMBRE DEL POKEMON */
.nomPokemon{
    text-transform: uppercase;
    font-size: 20px;
}

/* NOMBRE DE LA REGION */
.nomRegion{
    font-size: 20px;
}

/* BOTON DE IR HACIA ARRIBA */
.button-up{
    width: 40px;
    height: 40px;
    background: rgb(6, 32, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 220px;
    right: 15px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 200ms ease;
    visibility: hidden;
}

/* POSICIONARSE EN EL BOTON DE IR HACIA ARRIBA */
.button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

/* ICONO DE SUBIR */
.fa-arrow-up{
    font-size: 20px;
}

/* BOTON DE ACTUALIZAR */
.button-refresh{
    width: 40px;
    height: 40px;
    background: rgb(6, 32, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 160px;
    right: 15px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 200ms ease;
    text-decoration: none;
}
.button-refresh i{
    font-size: 20px;
}


/* CONTENEDOR DE PIE DE PAGINA */
.foot {
    width: 100%; /* CUBRE TODO EL ANCHO DISPONIBLE */
    height: 200px;
    background-color: rgb(6, 32, 70);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.information a{
    text-decoration-color: white;
}

/* MAS INFORMACION */
.informationMore{
    color: white;
    font-size: 20px;
    text-align: right;
}

/* AUTORES */
.authors {
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* CONTENEDOR DE ICONOS DE DESACARGA */
.downloands{
    display: flex;
    flex-direction: column;
}

/* ICONOS DE DESCARGA */
.iconDownloands{
    width: 60%;
    height: 70%;
    border-radius: 10px;
    margin: 20px;
}

/* CONTENEDOR DE MENU DESPLEGABLE */
.cont-menu{
    width: 400px;
    position: relative;
    top: -35px;
    left: 10px;
    display: none;
}

/* CABECERAS DEL MENU DESPLEGABLE (FILTRAR POR, ORDENAR POR, ESTADISTICA) */
.filtrar, .ordenar, .estadistica{
    display: flex;
    justify-content: space-between;
    background-color: rgb(6, 32, 70);
    color: white;
    padding: 13px 15px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

/* ICONOS DE FILTRAR, ORDENAR Y ESTADISTICA */
.fa-filter, .fa-sort-amount-up-alt, .fa-chart-pie{
display: flex;
justify-content: center;
text-align: center;
color:rgb(6, 32, 70);
background-color: white;
font-weight: bold;
font-size: 22px;
width: 60px;
border-radius: 5px;
align-items: center;
}

/* CONTENEDORES */
.cont-filtrar-region, .cont-filtrar-elemento, .cont-ordenar, .cont-estadistica{
    box-shadow: 0px 0px 2px 1px white;
}

/* CABECERA DE REGION Y ELEMENTO */
.opcion-filtrar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 82, 119) !important;
    color: white;
    padding: 13px 15px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

/* SIMBOLO '+' */
.icono{
    background-color: white;
    color: rgb(6, 32, 70);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* EFECTO PARA APARECER Y DESAPARECER ENLACES */
.cont-tipo-filtrado, .cont-enlaces{
    height: 0;
    overflow: hidden;
}

/* ANIMACION */
.cont-menu .cont-filtrar .animation{
    height: 100%;
}
.cont-menu .cont-ordenar .animation{
    height: 100%;
}
.cont-menu .cont-estadistica .animation{
    height: 100%;
}

/* ESTILOS A LOS ENLACES */
.cont-enlaces span{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgba(0,0,0,.8);
    background-color: white;
}

/* ESTILO AL POSICIONARSE EN LOS ENLACES */
.cont-enlaces span:hover{
    background-color: rgb(121, 159, 216);
    color: white;
}

/* CONTENEDOR DEL MODAL */
.containerModal{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0; /* OCULTAR MODAL AL INICIO */
}

/* MODAL */
.modal{
    background-color: rgb(255, 255, 255);
    width: 500px;
    max-width: 100%;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MOSTRAR MODAL */
.show{
    pointer-events: auto;
    opacity: 1;
}

/* BOTON CERRAR */
#close{
    background-color: rgb(6, 32, 70);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 5%;
    font-size: 120%;
}

/* POSICIONARSE EN EL BOTON MODAL */
#close:hover{
    cursor: pointer;
}

/* NOMBRE DEL POKEMON EN EL MODAL */
.nomPokemonMod{
    margin-bottom: 10px;
}

/* TIPO POKEMON EN EL MODAL */
.tipoPokemonMod{
    font-size: 110%;
}

/* PUNTOS DE COMBATE Y SUBTITULOS */
.modal h3{
    font-size: 90%;
    font-weight: bold;
    margin-bottom: 15px;
}

/* CONTENEDOR DE DATOS BASICOS */
.datos-basicos{
    background-color: rgb(189,243,207);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

/* CONTENEDOR DE PESO, ALTURA Y HUEVOS */
.cont-peso, .cont-altura, .cont-huevos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CONTENEDOR DE DEBILIDAD */
.cont-debilidad{
    background-color: rgb(245,228,165);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 60px;
    margin-bottom: 10px;    
    justify-content: space-evenly;
    align-items: center;
}

/* CONTENEDOR DE EVOLUCIONES */
.cont-evoluciones{
    background-color: rgb(215,198,233);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 180px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR DE PRIMERA Y SEGUNDA EVOLUCION */
.contAmbasEvoluciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* CONTENEDOR DE LA PRIMERA EVOLUCION Y CONTENEDOR DE LA SEGUNDA EVOLUCION*/
.contPriEvolucion, .contSegEvolucion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* IMAGEN DE EVOLUCIONES */
.imagenEvolucion{
    width: 80px;
}

/* CONTENEDOR DEL NOMBRE DE LA PRIMERA EVOLUCION  */
.nombreEvolucion1{
    display: flex;
    flex-direction: row;
}

/* NOMBRE DE LA EVOLUCION */
.nomEvolucion{
    padding-inline: 12px;
}

/* CONTENEDOR DE CARAMELOS DE PRIMERA EVOLUCION Y CONTENEDOR DE CARAMELOS DE SEGUNDA EVOLUCION */
.contCaramelos1, .contCaramelos2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* IMAGEN DE CARAMELOS POKEMON */
.imgCaramelos{
    width: 15px;
    height: 15px;
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 15px;
}

/* SCROLLBAR TRASERO*/
::-webkit-scrollbar-track{
    background: rgb(6, 32, 70);
    border-radius: 10px;
}

/* SCROLLBAR DELANTERO */
::-webkit-scrollbar-thumb{
    background: rgb(255,255,255);
    border-radius: 20px;
}

/* CONTENEDOR DE LA SECCION DE ESTADISTICA */
.containerEstadistica{
    display: none;
}

/* CONTENEDOR DE CADA GRAFICO DEESTADISTICO */
.contGraficos{
    width: 80%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 30px;
    padding: 25px;
    margin: 20px;
    text-align: center;
    border: 4px solid rgb(6, 32, 70);
}

