*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Red Rose', cursive;
}

body{
    background-image: url(./imagenesRM/fondo/Sky.jpg);
    background-repeat: repeat;
    background-size: 100%;
}
header{
    display: flex;
}

.titulo >h2{
    text-align: center;
    color:#7cfc00;
    font-weight: bold;
    padding: 1rem;
}

.cards{
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(10rem, 13rem));
    grid-auto-flow: row;
    grid-auto-rows: 15rem;
    column-gap: 5rem;
    justify-content: center;
}

.card-personaje{
    background-color: transparent;
    perspective: 1000px;
}

.div-personaje{
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-personaje:hover .div-personaje {
    transform: rotateX(180deg);
}
  
.div-personaje, .card-personaje, .data-frente-personaje , .data-atras-personaje{
    width: 12rem;
    height: 12rem;
    border-radius: 0.8rem;  
}

.data-frente-personaje , .data-atras-personaje {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;      
}

.div-personaje:hover{
    box-shadow: 0 8px 16px 0 rgba(168, 164, 164, 0.2);
}

.data-frente-personaje{   
    background-size: 100% 100%;    
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    justify-content: flex-end;
}

.data-atras-personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    transform: rotateX(180deg);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.data-atras-personaje>div>p{
    font-size: 0.7rem;
    padding: 0 1.5rem;  
}

.name-personaje-frente{
    color: #fff;
    background-color: rgba(97, 83, 83, 0.575);
    padding: 0.7rem;
    border-radius: 0 0 0.8rem 0.8rem;
}

.name-personaje-atras{
    padding: 1rem;
    color: rgb(58, 221, 17);
}

.type-character{
    color: black;
    font-style: italic;
}

.filters{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.filters>label{
    color:#7cfc00;
    padding: 0 1rem;
}

.filters>button{
    border: 1px solid #7cfc00;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0 1rem;
    color:#7cfc00;
}

.filters>select{
    border: 1px solid #7cfc00;
    background-color: transparent;
    border-radius: 5px;
    margin: 0 1rem;
    padding: 0.5rem;
    color: #7cfc00;
}

option{
    background-color: black;
    margin: 0 1rem;
    padding: 0.5rem; 
    color: #7cfc00;
}

/* Carrusel ----------> */

.carrusel{
  width: 100%;
  position: relative;
}