*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.todo{   /*donde está encerra la info*/
    
    font-weight: bold;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* border-style: solid; */
}

body{
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    display:block;  /*cambiar a block*/
    background-color: rgb(241, 240, 240);
}
/*-------------------------------------------HEADER*/
header{
    width: 100%;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #09d7df; 
}
.mascots{
    width: 10%;   
    height: 7%
}
.page-name{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);   
    font-size: 4em;
    padding-right: 14rem;
    letter-spacing: 0.1em;
}
.navBar{
    background-color: #3cfa02;
}
.navBar a{
    font-size: 40px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    line-height: 1.5em;   
    letter-spacing: 0.1ex;
    
}
a:hover{
    color: #030303;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*-------------------------------------CONTAINER-SLIDER----*/
.slides{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slide-img{
    display: block;
    margin:auto;
}

/*--------------------------------------CONTAINER-ABOUT RIO*/

.rio-info{
    padding: 4rem;
}
.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rio-info-title{
    font-size: 3ex;
    font-weight: 900;
    color: #3cda36;
}
.info-rio-par{
    text-align: justify;
    line-height: 1.4em;
    font-size: 1em;
    font-weight: 501;
}
.arrow{
    font-size:1.5rem;
}
.link{
    color:blue;
    margin-left: 0.8rem;
    text-align: justify;
    border-bottom: 0.1em solid blue;
}
.link:hover{
cursor: pointer;

}
.first-row, .second-row, .third-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 2.5em;
    /* border-style: solid; */
    padding: 2em 2em;
    background-color: white;
    width:100%;
    border-radius: 2em;
}

/*--------------------------------------CONTAINER-EL PROYECTO*/
h2{
    text-align: left;
    font-weight: bolder;
    font-size: 50px;
    padding-left: 1ex;
}
.multiple-title{
    color: #F1B839;
}
.paises{    /* son los h2*/
    color: #6CC45E;
}

.deportes{
    color: #24A4E1;
}

.atleta{
    color: #F1B839;
    padding-left: 3ex;
}

.btnGreen{   /*la info de cada uno*/
    border-bottom: #6CC45E .3rem solid;
    margin: 1.5rem;
    padding: 0.2rem;
    text-align: center;
    background-color: white;
    border-radius: 0.5em;
}

.btnBlue{
    border-bottom: #48c2f3 .3rem solid;
    margin: 1.5rem;
    padding: 0.2rem;
    text-align: center;
}
.btnYellow{
    border-bottom: #F1B839 .3rem solid;
    margin: 1.5rem;
    padding: 0.2rem;
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 240, 240);
}

/*donde se encierra la info de los deportes y eventos*/
.sports {
    display:none; /*cambiar a none*/
    /* border-style: solid; */
}
.sport_ev{
    width: 100%;
    /* border-style: solid; */
    padding: 1rem;
}
.search{
    border-radius: 0.5em ;
    padding: 1em;
    width:100%;
    border:rgb(241, 240, 240);
}
.search:focus{
    border: 3px solid #77c2ff;
}
.sportTable{
    border-collapse: collapse;
    margin: 1.5rem auto;
    min-width: 25rem;
    left: 50%;
    right: 50;
    width: 100%;
    font-size: 0.7em;
    border-radius: 0.5em 0.5em ;
    overflow: hidden;
    background-color: white;
}
.sportTable thead tr{
    background-color: rgb(22, 190, 202);
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 2.5rem;
}
.sportTable td,.sportTable th{
    text-align: left;
    padding: 0.7rem 0.9rem;
    line-height: 2rem;
} 

.sportTable tbody tr{
    border-bottom: 0.2rem solid rgb(142, 183, 216) ;
    font-size: 1.5em;
}
.sportTable tbody tr:last-of-type{
    border-bottom: 0.5rem solid rgb(22, 190, 202) ;
}

.sportTable tbody tr:hover{  
    background-color: rgb(242, 247, 247);
    transform: scale(1.04);
} 

/*----------------------------los países*/
.countries{
    display:none;
}
.hereCountries{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
/*-------------------------------------------los atletas*/
.athletes{
    display:none;
    width: 100%;
    background-image: url('https://images.vexels.com/media/users/3/77434/raw/70da17038368661b93b985dd3a79b363-rio-2016-ahtletics-100m.jpg');
    background-repeat: no-repeat;
    background-position:top;
    
}
.athletes image{
    opacity: 0.5;
}
.listAthletes{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

#hereAthletes{
    flex-direction: column;
    width: 60%; 
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#cardAthlete{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    border: solid #F1B839;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 3rem;
    box-shadow:  16px 16px 44px #5c5606, 
             -16px -16px 44px #282a28;
    transition: 0.3s all ease-in-out;

}
.texCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4.5rem;
}

ul:hover{    /*ponerle clase*/
    cursor: pointer;
}
.title{
    text-align: center;
}
/*-------------------------atletas varias medallas*/

.multipleMedals{
    display: none;  /*cambiar a none*/
    width: 100%;
    /* border-style: solid; */
    margin: 1rem 6rem;
    padding: 0 1rem;
}
.multipleMedals-Info-text{
    font-size: 1rem;
    padding: 1.5em;
    text-align: justify;
}
.searchAndSort{
    margin: 1.5em;
}
.searchMultipleWinners{
  width:100%; 
  outline: none;
  border-radius: 0.5em ;
  padding: 1em;
  border:none;
  margin-top: 0.5rem;
}
.searchMultipleWinners:focus{
    border: 3px solid #77c2ff;
}
.medal_athletesContainer{  /*este es el ul*/
    list-style:none;
    border-radius: 1em;
    margin-bottom: 1em;
    padding:  0.5rem 0.5rem;
    font-size: 1rem;
    background-color: white;
    line-height: 2rem;
    width: 100%;
}
.medal_athletesContainer:hover{
    transform: scale(1.04);
}
#hereAthletes_multiple_medals{
    /* border-style: solid;   */
    /* display:flex; */
    gap:1rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.keyAthlete{ /*salio del js:nombre de atletas*/
    font-weight: bolder;
    font-size: 1em;
    border-bottom: #F1B839 .2rem solid;
    margin: 1.5rem;
    padding: 0.2rem;
    text-align: center;
}

 /*------------------------------------------ FOOTER*/
footer{   
    background-color: black;
    padding: 10px 0 10px 0;
    position:absolute;
    width: 100%;    
}
.foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.ring{
    width: 170px;
    height: 80px;
}
.info-footer{
    color: white;
    font-size: 40px; 
}
.social-media{
    display: flex;
    gap: 40px;
    align-items: center;
}
#social1, #social2, #social3{
    color: white;
}
#social1:hover, #social2:hover, #social3:hover{
    cursor: pointer;
    color: #dbf537;
}
