*{
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
}

#i1,#i2,#i3,#i4,#i5 {
    display: none;
}

.container {
    margin: 0 auto;
    margin-top:50px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 38%;
    user-select: none;
    background-color: black;
    /* border: solid 10px #616161; */
    border-radius: 10px;

}

.container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container .slide_img img{
    width: inherit;
    height: inherit;

}

.prev, .next {
    width: 5%;
    height: inherit;
    position: absolute;
    top:0;
    background-color: rgba(88,88,88, .2);
    color: rgba(244,244,244, .9);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next {
    right: 0;
}
.prev{
    left:0;
}

label span{
    position: absolute;
    font-size: 40pt;
    top:50%;
    transform: translateY(-50%);
}

.prev:hover, .next:hover {
    transform: .3s;
    background-color: rgba(88, 88, 89, .8);
    color: #fff;
}

#nav_slide{
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 9;
    cursor: default;
}
#nav_slide .dots{
    top: 20px;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    position: relative;
    border-radius:100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.6);
    transition: .4s;

}

#nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255 ,255 ,255, 0.9);
    transition: .25s;
}

.slide_img{z-index: -1;}

    #i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

    @keyframes scroll{
        0%{	opacity:.4;}
        100%{opacity:1;}
    }		
    
    @media screen and (max-width: 685px){
        .container{
            border: none;
            width: 100%;
            height: 0;
            padding-bottom: 55%; 
        }	
        
        label span { font-size: 50pt; }
        
        .prev, .next{
            width: 15%;
        }	
        #nav_slide .dots{
            width: 12px;
            height: 12px;
        }
    }
    @media screen  and(min-width: 970px){
        .me{ display: none;}
    }
