*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/*---------------charts------*/
.charts{
    display:flex;
    
    display:none;
}
.clickCharts{
    background-color: #2be912;
    width: 20rem;
    height: 3rem;
    border-radius: 0.5rem;
    border:none;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 700;
}
.chart-center{
    display:flex;
    justify-content: center;
}
.clickCharts:hover{
    color:white;
}

/*-------------------------*/

.todo{  /* donde est치 encerra la info */
    font-weight: bold;
    width: 100%;
} 

body{
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

/*-------------------------------------------HEADER--------------------------------------*/
header{
    width: 100%;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #099c3a/*#009933*/;     /*#09d7df   #046ce2*/
}
.mascots{
    width: 10%;   
    height: 7%
}
.page-name{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);   
    font-size: 4em;
    padding-right: 14rem;
    letter-spacing: 0.1em;
}
.head-toggle{
    color: white;
    background: none;
    padding: auto;
    border: none;
    display: none;
}
.navBar{
    background-color: black;  /*#3cfa02*/
}
.navBar a{
    font-size: 40px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    line-height: 1.5em;   
    letter-spacing: 0.1ex;
    
}
a:hover{
    color: #3cfa02;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*--------------------------------------CONTAINER-ABOUT RIO------------------------------*/

.rio-info{
    padding: 4rem;
}
.container{
    background-color: rgb(236, 236, 236);
}
.homeImage{
    width:100%;
    height: 100%;
    border-top-left-radius:1.3rem ;
    border-bottom-left-radius: 1.3rem;
}
.homeInfo{
    padding: 2em;
}
.rio-info-title{
    font-size: 4ex;
    font-weight: 900;
    color: black;
}
.info-rio-par{
    text-align: justify;
    line-height: 1.4em;
    font-size: 1em;
    font-weight: 501;
}
.arrow{
    font-size:1.5rem;
}
.link{
    margin-left: 0.8rem;
    text-align: justify;
}

.first-row, .second-row, .third-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 2.5em;
    padding: 2em 0 2em 1;
    background-color: white;
    width:100%;
    border-radius: 1.3rem; 
}
.slide_img{
    width:100%;
    height:100%;
}
/*-------------------------------------------------------CONTAINER-EL PROYECTO--------------------------------------------------------------*/
h2{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding-left: 1ex;
}

.btnYellow{
    border-bottom: #4682B4.3rem solid;
    margin: 1.5rem;
    padding: 0.2rem;
    text-align: center;
    background-color: white;  /*los 4 de abajo aumente*/
    /* width: 100%; */
    list-style: none;
}

/*-------------------Donde se encierra la info de los DEPORTES y EVENTOS----------------*/
#sports{
    display:none;
}
.sports_container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.sports {
    display:none; /*cambiar a none*/
}
.deportes{ /*es el t칤tulo*/
    color:   #FF8000 /*#21368B*/;  /*rgb(11, 10, 68)*/  /*18286B*/
    font-size: 5rem;
}
.img_sport{
    width: 20%;
    height: 20%;
    border-radius: 1rem;
    display: block;
    margin:auto;
}
.img_sport_2{
    width: 50%;
    height: 50%;
    border-radius: 1rem;
    display: block;
    margin:auto;
}
.searchSports{
    width:100%;
    overflow: hidden;
}
.search{
    border-radius: 0.5em ;
    padding: 1em;
    width:100%;
    outline: none;
    border:0.2rem solid #FF8000;
}
html{
    scroll-behavior: smooth;
}
.sportTable{
    border-collapse: collapse;
    margin: 1.5rem auto;    
    width: 100%;
    font-size: 0.7em;
    background-color: white;
    overflow: hidden;
}
.sportTable thead tr{
    background-color: #4682B4;  /*#169385*/ /*rgb(3, 123, 221)*/
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 2.5rem;
}
.sportTable td,.sportTable th{
    text-align: left;
    padding: 0.7rem 2rem;
    line-height: 2rem;
} 
.sportTable tbody tr{
    border: 0.2rem solid #4682B4;
    font-size: 1.5em;
    border-left: solid 0.4rem #4682B4;  /*rgb(3, 123, 221)*/
    border-right: solid 0.4rem #4682B4;
}
.sportTable tbody tr:hover{  
    background-color: rgb(230, 253, 253);
    transform: scale(1.02);
} 

/*----------------------------Donde se encierra los PAISES-------------------------------*/
#countries{   /*es el section*/
    display:none;
   
}
.countries{
    display:none;
    display:flex;
    flex-direction:column;
}
.countries_container{
    padding: 2rem;
}
.paises{    /* son los h2, t칤tulos*/
    color: #39f077 ;/* #6CC45E; */
    font-size: 5rem;
}
.btnGreen{   /*la info de cada uno*/
    border-bottom: #d0fa5e .3rem solid;
    margin: 1.5rem;
    padding: 0.2rem;
    text-align: center;
    background-color: white;
    /* border-radius: 0.5em; */
    background-color: white;
}
.hereCountries{  /*donde est치n los pa칤ses*/
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/*------------------------------------------------------Donde se encierran los ATLETAS-------------------------------*/
/* --------el MODAL--------*/
.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,5);
    background-color: rgba(0,0,0,0.4);
  }
.close{
    color:white;
}
/*-------------------------*/
#cardAthlete{
    display: flex;
    flex-direction: column;
    
    width: 50%;
    border: 0.4rem solid #F1B839;
    border-radius: 2rem;
    padding: 1.2rem;
    box-shadow:  16px 16px 44px #5c5606, 
             -16px -16px 44px #282a28;
    transition: 0.3s all ease-in-out;
    /*position: fixed;*/
    background-color: white;
    font-size:1rem;
    margin: 4rem 20.9rem;
}
.texCard{
    display: flex;
    flex-direction: row;
    line-height: 2.4rem;
    color:black;
    justify-content: flex-star;
}
.title{
    text-align: center;
    font-size: 1.5rem;
}
.texTitle{
    color:black;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-left: 0.2rem;
}
.rioAtletas{
    width: 20%;
    height: 20%;
    border-radius: 1rem;
    display: block;
    margin:auto;
}

/*--------------------INFO DE LOS  ATLETAS----------------------------*/

#athletes{
    display:none;
}
.athletes{
    display:none;  /*cambiar a none*/
    width: 100%;
}
.atletes_container{
    padding: 2rem;
}
.listAthletes{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem;
}
.atleta{   /*es el t칤tulo*/
    color: #FF8000;
    font-size: 5rem;
}
#hereAthletes{   /*donde se encuentra el nombre de c/atleta*/
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#hereAthletes:hover{
    cursor: pointer;
}
#searchWrapper {  /*el div donde est치 el buscador*/
    display: flex;
    justify-content: center;    
    position: relative;
} 
#searchBar {  /*es el buscador*/
    border-radius: 0.5em ;
    padding: 1em;
    width:100%;
    border:0.2rem solid #FF8000;
    outline: none;
}
#searchWrapper::after {
    content: '游댌';
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

/*-------------------------Donde se encierran los ATLETAS CON VARIAS MEDALLAS--------------------------------------------*/

.multipleMedals_container{
    padding: 2rem;
}
#multipleMedals{
    display: none;  /*cambiar a none*/
    width: 100%;
    /* border-style: solid; */
    
}
.multiple-title{   /*atletas multimedallistas*/
    color: #FF6103;
    font-size: 5rem;
}
.keyAthlete{ /*salio del js:nombre de atletas*/
    font-weight: bolder;
    font-size: 1.5em;
    border-bottom: #00688B .2rem solid;
    font-weight: 900;
    margin: 1.5rem;
    padding: 0.2rem;
}
.searchMultipleWinners{
    border-radius: 0.5em;
    padding: 1em;
    width:100%;
    border:0.2rem solid #FF6103;
    outline: none;
    margin-bottom: 1rem;
}
.medal_athletesContainer{  /*este es el ul*/
    list-style:none;
    border-radius: 1em;
    margin-bottom: 1em;
    padding:  0.5rem 0.5rem;
    font-size: 1rem;
    background-color: white;
    line-height: 2rem;
    width: 100%;
}
.medal_athletesContainer:hover{
    transform: scale(1.04);
}
#hereAthletes_multiple_medals{
    /* border-style: solid;   */
    /* display:flex; */
    gap:1rem;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 12rem;
}
.usain, .phelps{
    width: 20%;
    height: 20%;
    border-radius: 1rem;
    display: block;
    margin:auto;
}
.img-flex{
    margin-top: 1rem;
    display: flex;
}
/*------------------------------Donde se encierra la info de las atletas femeninas------*/
#female{
    display: none;
    width: 100%;
}
.female_container{   /*chequear si es el correcto*/
    display: flex;
    flex-direction: column;
    padding:  0.45rem 2rem 2rem;
}
.female_title{   /*verificar con los otros t칤tulos*/
    color: #FF8000;
    font-size:5rem;
}
.hereFemaleAthletes{
   width:100%;
    margin-top: 1rem;
}
.female_table{
    border-collapse: collapse;
    margin: 1.5rem auto;
    width: 100%;
    font-size: 0.7em;
    overflow: hidden;
    background-color: white;
}
.female_table thead tr{
    background-color: #4682B4;
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 2.5rem;
}
.female_table td,.female_table th{
    text-align: left;
    padding: 0.7rem 0.9rem;
    line-height: 2rem;
} 
.female_table tbody tr{
    border-bottom: 0.2rem solid #4682B4;
    font-size: 1.5em;
    border-left: solid 0.4rem #4682B4;  /*rgb(3, 123, 221)*/
    border-right: solid 0.4rem #4682B4;
}
.female_table tbody tr td{
    font-weight: 900;
}
.female_table tbody tr:hover{  
    background-color: rgb(231, 229, 228);
    transform: scale(1.02);
} 
.searchFemAthl{   /*comparar con los otro*/
    border-radius: 0.5em ;
    padding: 1em;
    width:100%;
    outline: none;
    border:0.2rem solid #FF8000;
  }
/*------------------------------------------ FOOTER-----------------------------------------------------------------------*/
footer{   
    background-color: black;
    padding: 2rem 0 2rem 0;
    position:absolute;
    width: 100%;    
    display:flex;
    justify-content: space-around;
}
.foot_row1{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
#madeBy{
    padding-left:1.5rem;
}
.authors{
    display:flex;
    gap:1rem;
}
.natalia, .brisset{
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

.foot_row2{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.info-footer{
    color: white;
    font-size: 40px; 
}
.foot-para{
    font-size: 1rem;
    color:white;
    font-weight: 800;
}
.social-media{
    display: flex;
    gap: 40px;
    align-items: center;
}
#social1, #social2, #social3, #github-n, #github-b{
    color: white;
}
#social1:hover, #social2:hover, #social3:hover, #github-n:hover, #github-b:hover{
    cursor: pointer;
    color: #dbf537;
}  
.info-authors{
    color: white;
    font-size: 1rem; 
    text-align: center;
}

.foot_row3{
    display: flex;
    justify-content:center;
    align-items: center;    
}
.ring{
    width: 170px;
    height: 85px;
    padding-top: 1rem;
}
/*-----------------------Gr치fico----------------------------------------------------------------------*/
#graficas{
    flex-direction: row;
    justify-content: space-between;
}
.grafico1{
    width: 45%;
    margin-top: 2rem;
    border-radius: 15px;
    border: solid;
    margin: 1rem;
    border-color: chartreuse;
    padding: 2rem;
}
.genere{
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
}
.text-genero{
    color: chartreuse;
    margin-bottom: 1rem;
    font-size: 2.1rem;
}
.medallas{
    width: 45; 
}
.img-medallas{
    width: 100%;
    padding: 2rem;
    margin-top: 30%;
    border-radius: 3rem;
}

@media only screen and (max-width: 768px) {
    .body{
        display: flex;
        flex-direction: column;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .head{
        display:flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .page-name{
        font-size: 1.4rem;
        padding-right: 1.5rem;
    }
    .navBar a{
        font-size: 1rem;
        color: white;
        font-family: 'Bebas Neue', cursive;
        text-decoration: none;
        line-height: 1.5em;   
        letter-spacing: 0.1ex;            
    }
    .navBar a:hover{
        color:chartreuse;
    }
    .info{         /*donde est치 home, sports, etc.*/
        display: flex;
        flex-direction: column;
        justify-items:  center;
        height: calc(100%-9%);
        overflow-y:auto ;
        transition: 0.7s;
    }
    .head-toggle{
        display: block;
        cursor: pointer;
    }
    .info_visible{
        display:none;
    }
    .rio-info{
        padding:2rem;
    }
    .homeInfo{
        padding:1rem;
    }
    .rio-info-title{
        font-size: 2ex;
    }
    .info-rio-par{
        text-align: justify;
        line-height: 0.85em;
        font-size: 0.74em;
        font-weight: 501;
    }
    .arrow{
        font-size:0.8rem;
    }
    /*footer*/
    footer{   
        padding: 0.9rem 0.5rem;
        gap:2rem;
        flex-direction: column;
        align-items: center;
    }
    .foot-para{
        font-size: 0.85rem;
    }
    .ring{
        width: 4.4rem;
        height: 2rem;
        padding:0;
    }
    .info-footer{
        font-size: 0.85rem;
        padding-left: 2.3rem;
    }
    #madeBy{
        padding-left: 0rem;
    }
    .social-media{
        gap: 1rem;
        font-size: 0.65rem;
        padding-left: 0.95rem;
    }
    #github-n, #github-b{
        font-size: 1.5rem;
    }
    .foot_row1{
       
        width: 100%;
      
        border-bottom: 0.19rem solid rgb(88, 86, 86);
        align-items: center;
        padding-bottom: 1rem;
    }
    

    /*multiple medal winners*/
    
    .multiple-title{   /*atletas multimedallistas*/
        font-size: 2rem;
    }
    .keyAthlete{ /*salio del js:nombre de atletas*/
        font-size: 0.97em;
        margin: 0.3rem;
    }
    .medal_athletesContainer{  /*este es el ul*/
        font-size: 0.8rem;
    }
    .searchMultipleWinners{
        height: 2rem;
    }
    .medal_athletesContainer:hover{
        transform: scale(1.02);
    }
    #hereAthletes_multiple_medals{
        padding-left: 0rem;
    }

    /*only female athletes*/
   
    .female_title{   /*verificar con los otros t칤tulos*/
        font-size: 2rem;
    }
    .female_table thead tr{
        font-size: 1.4rem;
    }
    .female_table td,.female_table th{
        line-height: 1.2rem;
    } 
    .female_table tbody tr{
        font-size: 0.8rem;
    }
    .usain, .phelps{
        width: 30%;
        height: 30%;
    }
    .searchFemAthl{   
        height: 2rem;
      } 
    
    /*----------------Sport---------------------*/
    .deportes{
        font-size: 2rem;
    }
    .sportTable thead tr{
        font-size: 1.4rem;
    }
    .sportTable td,.sportTable th{
        line-height: 1.2rem;
    } 
    .sportTable tbody tr{
        font-size: 0.8rem;
    }
    .img_sport{
        width: 25%;
        height: 30%;
    }
    .search{
        height: 2rem;
    }
    /*----------------Teams---------------------*/
    .hereCountries{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .btnGreen{
        padding: 0.1rem;
        font-size: 0.8rem;
    }
    .countries_container{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .paises{
        font-size: 2rem;
    }
     /*----------------Athletes---------------------*/
    .atletes_container{
        display: flex;
        flex-direction: column;
    }
    .rioAtletas{ /*es la img*/
        width: 30%;
        height: 30%;
    }
    .atleta{
        font-size: 2rem;
    }
    #hereAthletes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 4.4rem;
      
    }
    .btnYellow{
        flex-direction: row;
        display: flex;
        width: 40%;
        margin:0;
        margin-bottom: 1.3rem;
        font-size: 0.8rem;
       
    }
    #searchBar{
        height: 2rem;
    }
    .listAthletes{
        padding: 0;
    }
    #searchWrapper::after {
        top: 0.4rem;
    }
           /*modal*/
    #cardAthlete{
        width: 57%;
        margin: 5rem 6.5rem;
        position:fixed;
        }
        .texCard{
            line-height: 1.8rem;
        }
        .title{
            font-size: 0.9rem;
        }
        .texTitle{
            font-size: 0.9rem;
        }
        .clickCharts{
            width: 10rem;
            height: 3rem;
            font-size: 0.9rem;
            font-weight: 800;
        }

/*-----------------------Grafico----------------------------------------------------------------------*/
        #graficas{
            flex-direction: column;
            justify-content: space-between;
        }
        .img-medallas{
            margin-top: 0;
        }
        .grafico1{
            width: 95%;
        }
}